body {
    margin: 0;
}

#container {
    background-color: aliceblue;
    height: 100vh;
    display:flex ;
    justify-content: center;
    align-items: center;
}

#carcasa {
    background-color: yellow;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px 5px inset rgb(87, 87, 2);
}

#pantalla {
    height: 250px;
    background-color: black;
    border-radius: 20px;
    margin: 15px;
}

#logo {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-letras {
    width: 80px;
    height: 20px;
    border: 1px double black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

#logo-letras-R {
    width: 5px;
    height: 5px;
    border: 0.5px solid black;
    border-radius: 50%;
    font-size: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#control {
    height: 100px;
    display: flex;
}

#control-izq {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#control-izq-caja {
    height: 60px;
    width: 60px;
    margin-right: 25px;
    position: relative;
}

#control-izq-caja-vertical {
    height: 60px;
    width: 20px;
    background-color: black;
    position: absolute;
    left: 20px;
    border-radius: 7px;
}

#control-izq-caja-horizontal {
    height: 20px;
    width: 60px;
    background-color: black;
    position: absolute;
    bottom: 20px;
    border-radius: 7px;
}

#control-izq-caja-up {
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid rgb(54, 51, 51);
    position: absolute;
    left: 25px;
    top: 5px;

}

#control-izq-caja-down {
    height: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid rgb(54, 51, 51);
    position: absolute;
    left: 25px;
    top: 45px;
}

#control-izq-caja-left {
    height: 0;
    width: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid rgb(54, 51, 51);
    position: absolute;
    left: 5px;
    top: 25px;
}

#control-izq-caja-right {
    height: 0;
    width: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid rgb(54, 51, 51);
    position: absolute;
    left: 45px;
    top: 25px;
}

#control-izq-caja-mid {
    height: 15px;
    width: 15px;
    background-color: rgb(54, 51, 51);
    border-radius: 50%;
    position: absolute;
    left: 22.5px;
    top: 22.5px;
}

#control-der {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#control-der-B, #control-der-A {
    height: 35px;
    width: 35px;
    background-color: black;
    border-radius: 50%;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px rgb(109, 109, 1) inset;
}

#control-der-B {
margin-top: 20px;
}

#control-der-A {
    margin-left: 20px;
    margin-bottom: 20px;
}

#control-der-A:hover, #control-der-B:hover, #control-izq-caja-mid:hover, #audio-izq-1-botton:hover, #audio-izq-2-botton:hover {
    background-color: rgb(228, 215, 215);
}

#control-izq-caja-up:hover {
    border-bottom-color: rgb(228, 215, 215);
}

#control-izq-caja-down:hover {
    border-top-color: rgb(228, 215, 215);
}

#control-izq-caja-left:hover {
    border-right-color: rgb(228, 215, 215);
}

#control-izq-caja-right:hover {
    border-left-color: rgb(228, 215, 215);
}

#audio {
    height: 70px;
    display: flex;
    margin: 10px;
}

#audio-izq {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: end;
}

#audio-izq-1 {
    width: 60px;
    height: 100%;
}

#audio-izq-1-botton {
    width: 30px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 1px 3px 3px rgb(109, 109, 1) inset;
}

#audio-izq-2 {
    width: 60px;
    height: 100%;
}

#audio-izq-2-botton {
    width: 30px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 1px 3px 3px rgb(109, 109, 1) inset;
}

#audio-izq-1-text, #audio-izq-2-text {
    font-size: 10px;
}

#audio-der {
    width: 30%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.negro {
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
}

.transparente {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px black inset;
}

#pantalla-top {
    width: 100%;
    height: 80%;
    display: flex;
}

#pantalla-top-izq {
    width: 30px;
    height: 30px;
    margin-top: 70px;
    margin-left: 10px;
}

#pantalla-top-izq-top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#pantalla-top-izq-top-1 {
    background-color: rgb(184, 4, 4);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgb(70, 1, 1) inset;
}

#pantalla-top-izq-bot {
    font-size: 9px;
    color: white;
}

#pantalla-top-der {
    background-image: url(../img/mario-super.gif);
    background-size: contain;
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    margin-top: 30px;
    margin-left: 10px;
}

#pantalla-bot {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items:center;
}

#pantalla-bot-letras-1 {
    color: white;
    margin-right: 5px;
}

#pantalla-bot-letras-2 {
    color: white;
    margin-right: 5px;
}

#pantalla-bot-letras-3 {
    color:deeppink;
}

#pantalla-bot-letras-4 {
    color:blueviolet;
    font-size: 14px;
}

#pantalla-bot-letras-5 {
    color:chartreuse;
    transform: rotate(-15deg);
}

#pantalla-bot-letras-6 {
    color:yellow;
    font-size: 14px;
}

#pantalla-bot-letras-7 {
    color:aqua;
}

